* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  min-height:100%;
   position:relative;

   padding-bottom:600px;
}
.active {
  background-color: #04AA6D;
}

iframe {
  margin-right: 0px;
}

#icons{float:left;
    width: 260px; 
    height: 64px;
    margin:30px;
   }
   #iconsr{float:right;
    width: 260px; 
    height: 64px;
    margin:30px;
   }

h1{
  text-align: center;
  color: #6CBD45;
  margin-right: 0px;
}

h2{
    color:  pink;
    text-align: center;
}

h3 {
    color: #ff0;
}
h3 {
    font-size: 28px;
}

}
h6 {
    margin-top: 0px; 
    margin-bottom: 0px;
}

/* Style the header */
header {
  
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

p {
  color: #1B1D1A;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Style the footer */
footer {
  background-color: #6CBD45;
  padding: 3px;
  text-align: center;
  color: white;
  margin-bottom: auto;
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0);
  /* Black w/opacity/see-through */
  border: 0px solid;
}

.rainbow {
  text-align: center;
  font-size: 32px;
  font-family: "Comic Sans MS";
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}