  body {
    background-image: url('wizfrog.gif') ;
    background-size: 25%;
    background-color: #000;
    color: #ff00ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
  }

  @keyframes colorShift {
    0% { color: #ff00ff; }
    25% { color: #00ffff; }
    50% { color: #ffff00; }
    75% { color: #ff6600; }
    100% { color: #00ff00; }
  }

  .header {
    max-width: 900px;
    margin: 20px auto;

  }

  .main-table{
    background-color: #b89146 ;
    width: 100%;
    border: 10px ;
  }

  .guestbook {
    background-color: transparent;  
    width: 100%;
    border: 5px ;
    text-align: left;

  }

  .gbtime {
    font-size: 5px;
  }

  .prophecy {
    background-color: #515a8f;
    width: 100%;
    border: 10px ;
    font-size: 50px;

  }

  .links {
    font-size: 30px;
    font-family: 'Tagesschrift';
  padding-bottom: 15px;
  }

  .marquee {
    font-family: 'Tagesschrift';
    color: ##FAE443;
  }


  h1, h2, h3 {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #00ffff;
    animation: colorShift 5s infinite alternate;
  }

  p {
    color: #FFF8AB;
  }

  a {
    color: #DBCD25;
    font-weight: bold;
    text-decoration: ;
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  marquee {
    color: #DBCD25;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .under-construction {
    margin-top: 20px;

  }

  .visitor-counter {
    margin-top: 10px;
    font-size: small;
    color: #ffff00;
    text-shadow:
  1px 1px 2px red,
  0 0 1em blue,
  0 0 0.2em blue;
  }

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

    .malware-popup {
            position: fixed;
            background-color: #f44336; /* Red background */
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-family: 'Arial', sans-serif;
            width: 250px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border: 5px solid darkred;
            z-index: 1000;
            display: none;
        }

        .malware-popup h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .malware-popup p {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .malware-popup button {
            background-color: #333;
            color: white;
            border: none;
            padding: 8px 15px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
        }

        .malware-popup button:hover {
            background-color: #555;
        }