body {
  font-family: "Tilt Warp", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(112%2c 76%2c 148%2c 1)'%3e%3c/rect%3e%3cpath d='M957.564%2c169.977C996.298%2c169.986%2c1035.296%2c151.973%2c1052.237%2c117.14C1067.721%2c85.302%2c1048.239%2c51.008%2c1030.253%2c20.513C1012.688%2c-9.267%2c992.138%2c-43.205%2c957.564%2c-43.371C922.826%2c-43.537%2c901.3%2c-10.113%2c883.659%2c19.812C865.614%2c50.423%2c847.275%2c85.215%2c862.966%2c117.097C880.063%2c151.836%2c918.846%2c169.968%2c957.564%2c169.977' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1334.31%2c392.76C1387.367%2c390.684%2c1428.877%2c351.973%2c1454.658%2c305.554C1479.577%2c260.687%2c1487.282%2c207.004%2c1462.41%2c162.112C1436.815%2c115.915%2c1387.1%2c89.9%2c1334.31%2c88.335C1278.437%2c86.679%2c1221.328%2c106.31%2c1192.344%2c154.107C1162.407%2c203.474%2c1166.944%2c266.039%2c1196.461%2c315.658C1225.31%2c364.155%2c1277.924%2c394.967%2c1334.31%2c392.76' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M325.225%2c272.826C360.534%2c270.97%2c391.098%2c249.599%2c407.968%2c218.525C424.058%2c188.888%2c422.037%2c153.786%2c405.937%2c124.154C388.993%2c92.969%2c360.622%2c68.816%2c325.225%2c66.24C284.923%2c63.307%2c242.361%2c76.268%2c221.227%2c110.71C199.276%2c146.483%2c203.243%2c192.769%2c225.905%2c228.096C246.918%2c260.851%2c286.363%2c274.869%2c325.225%2c272.826' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M177.419%2c152.78C208.828%2c150.751%2c229.329%2c123.5%2c244.905%2c96.151C260.265%2c69.182%2c273.612%2c37.484%2c258.534%2c10.357C243.157%2c-17.307%2c209.011%2c-27.169%2c177.419%2c-25.258C149.113%2c-23.546%2c127.04%2c-4.605%2c111.689%2c19.239C94.528%2c45.893%2c78.932%2c77.525%2c92.932%2c105.967C108.171%2c136.928%2c142.983%2c155.004%2c177.419%2c152.78' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M111.981%2c512.032C143.607%2c512.74%2c173.552%2c496.773%2c189.673%2c469.555C206.104%2c441.814%2c208.365%2c406.215%2c190.593%2c379.313C174.201%2c354.5%2c141.685%2c350.526%2c111.981%2c351.95C85.258%2c353.231%2c59.675%2c363.63%2c45.427%2c386.274C30.185%2c410.498%2c26.704%2c440.909%2c40.091%2c466.205C54.338%2c493.125%2c81.531%2c511.35%2c111.981%2c512.032' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1040.923%2c512.158C1086.16%2c514.845%2c1135.601%2c505.325%2c1159.353%2c466.731C1183.97%2c426.731%2c1174.882%2c375.191%2c1149.564%2c335.631C1126.204%2c299.13%2c1084.215%2c283.627%2c1040.923%2c281.682C993.033%2c279.53%2c937.339%2c283.202%2c913.944%2c325.044C890.838%2c366.369%2c918.001%2c414.798%2c944.587%2c453.975C967.165%2c487.245%2c1000.786%2c509.774%2c1040.923%2c512.158' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap; /* Helps wrap items on small screens */
  padding: 1rem;
}

.tph {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.guestbook {
  margin-top: 0px;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 1.883%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 4%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translateX(-50%);
}

h1 {
  color: whitesmoke;
  font-size: 500%;
  margin: 0%;
}

.links {
  display: flex;
  gap: 50px; 
}


.links ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FFB74D;
}

a:active {
  color: #2D3A4D;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 250%;
    text-align: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .video iframe {
    width: 90%;
    height: 90%;
  }
}

