body, html {
    font-family: "ARGENTPIXEL", serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background: #121212;
  }

@font-face {
  font-family: Monocraft;
  src: url(images/Monocraft.ttf); 
}

.head {
  position: relative;
  font-family: ARGENTPIXEL-ITAL;
}


.head a{
  color: white;
  text-shadow: 2px 2px 0px #1adb81;
}


.card{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 45px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
}

.card a{
  color: white;
  text-shadow: 2px 2px 0px red;
  text-decoration: none;
}

.card a:hover{
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 0px white;
  font-family: ARGENTPIXEL-ITAL;
}

.foot {
 font-size: 0.9rem;
  text-align: center;
  font-family: ARGENTPIXEL-ITAL;
  padding-bottom: 20px;
}

.background {
  background: url('/images/made-by-me/home-background.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.content-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-height: 100vh;
}


.courtcard {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: rotate(var(--rotation));
  transition: transform 0.03s;
}

#king {
  --rotation: 2.3deg;
}

.courtcard:hover {
  transform: scale(1.2) rotate(var(--rotation));
}

 
  @font-face {
    font-family: "ARGENTPIXEL";
    src: url("images/ArgentPixelCF-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "ARGENTPIXEL-ITAL"; /* set name */
    src: url("images/ArgentPixelCF-Italic.woff"); /* url of the font */
  }


#microblog-terminal {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.507);
  color: #1adb81;
  border: 2px solid #1adb81;
  font-family: monospace;
  padding: 12px 15px;
  max-width: 350px;
  z-index: 9999;
  pointer-events: none; /* disable interaction */
  user-select: none;
}

#microblog-terminal a {
  pointer-events: auto; /* enable clicking link */
  user-select: text;
}

.terminal-header {
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
  border-bottom: 1px dashed #1adb81;
  padding-bottom: 5px;
  font-family: ARGENTPIXEL-ITAL, monospace;
  text-align: left;
}

.typed-line {
  font-family: monospace;
  white-space: pre-wrap;
  overflow: hidden;
  animation: blink step-end infinite;
  min-height: 2em;
  text-align: left;
}



