body {
  font-family: "Tilt Warp", sans-serif;
  margin: 0;
  min-height: 100vh;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1064%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(112%2c 76%2c 148%2c 1)'%3e%3c/rect%3e%3cpath d='M1712.626%2c926.455C1741.385%2c925.786%2c1770.114%2c916.684%2c1785.614%2c892.45C1802.327%2c866.319%2c1804.7%2c832.959%2c1789.839%2c805.731C1774.367%2c777.382%2c1744.9%2c759.923%2c1712.626%2c758.72C1678.03%2c757.431%2c1642.046%2c769.585%2c1624.759%2c799.58C1607.49%2c829.544%2c1613.823%2c867.555%2c1633.513%2c895.986C1650.757%2c920.886%2c1682.346%2c927.159%2c1712.626%2c926.455' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M940.228%2c357.541C992.27%2c360.378%2c1050.513%2c356.685%2c1079.2%2c313.171C1110.061%2c266.36%2c1102.867%2c203.725%2c1072.86%2c156.361C1044.822%2c112.105%2c992.605%2c92.644%2c940.228%2c93.814C890.062%2c94.934%2c841.975%2c118.274%2c817.473%2c162.064C793.489%2c204.928%2c799.115%2c257.73%2c825.236%2c299.326C849.724%2c338.322%2c894.249%2c355.034%2c940.228%2c357.541' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M316.046%2c712.163C372.891%2c713.226%2c427.913%2c686.509%2c456.513%2c637.371C485.275%2c587.955%2c480.123%2c527.547%2c452.7%2c477.375C423.985%2c424.84%2c375.913%2c379.761%2c316.046%2c380.38C256.979%2c380.991%2c211.564%2c427.801%2c184.203%2c480.152C159.028%2c528.321%2c157.537%2c585.029%2c184.39%2c632.283C211.572%2c680.116%2c261.039%2c711.135%2c316.046%2c712.163' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M351.807%2c1149.317C426.121%2c1149.489%2c471.113%2c1074.597%2c504.743%2c1008.328C534.44%2c949.808%2c548.907%2c882.01%2c516.383%2c825.012C483.61%2c767.577%2c417.906%2c742.264%2c351.807%2c740.307C281.467%2c738.225%2c204.178%2c753.541%2c169.443%2c814.742C135.003%2c875.424%2c166.7%2c946.358%2c200.093%2c1007.622C235.588%2c1072.743%2c277.641%2c1149.145%2c351.807%2c1149.317' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M201.621%2c441.407C256.545%2c438.814%2c304.639%2c408.784%2c333.417%2c361.931C363.78%2c312.496%2c379.164%2c250.322%2c349.674%2c200.361C320.545%2c151.011%2c258.925%2c138.144%2c201.621%2c138.645C145.405%2c139.137%2c88.811%2c155.897%2c57.988%2c202.912C24.107%2c254.591%2c14.466%2c322.55%2c46.347%2c375.486C77.439%2c427.112%2c141.422%2c444.25%2c201.621%2c441.407' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M728.145%2c1081.482C828.85%2c1084.626%2c923.513%2c1022.975%2c967.483%2c932.322C1007.101%2c850.642%2c971.746%2c758.133%2c921.724%2c682.377C877.646%2c615.624%2c808.127%2c571.174%2c728.145%2c569.859C645.734%2c568.504%2c566.483%2c605.671%2c523.22%2c675.826C477.741%2c749.574%2c474.299%2c840.807%2c513.366%2c918.142C556.834%2c1004.188%2c631.79%2c1078.473%2c728.145%2c1081.482' fill='rgba(99%2c 67%2c 131%2c 0.44)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1064'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap; /* Helps wrap items on small screens */
  padding: 1rem;
}

.tph {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.guestbook {
  margin-top: 0px;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 1.883%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 4%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translateX(-50%);
}

h1 {
  color: whitesmoke;
  font-size: 500%;
  margin: 0%;
}

.links {
  display: flex;
  gap: 50px; 
}


.links ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FFB74D;
}

a:active {
  color: #2D3A4D;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 250%;
    text-align: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .video iframe {
    width: 90%;
    height: 90%;
  }
}


