body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

@font-face {
    font-family: "ARGENTPIXEL";
    /* Note: Paths with two dots (../) are relative to the CSS file location! */
    src: url("../images/ArgentPixelCF-Regular.woff") format("woff"); 
}

@font-face {
    font-family: "ARGENTPIXEL-ITAL";
    src: url("../images/ArgentPixelCF-Italic.woff");
}

.prophat-page {
    background-color: #ff0000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-container {
    width: 100vw; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

#return{
    font-size: 10px;
    padding-top:30px;
}

#return:hover {
      color: rgb(255, 0, 0);
  text-shadow: 1px 1px 0px white;
  font-family: ARGENTPIXEL-ITAL;
    cursor: pointer;
}

.nav-link {
    /* Inherit the full width from the container */
    width: 100vw;
    font-family: ARGENTPIXEL;
    font-size: 400px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
      color: rgb(255, 0, 0);
  text-shadow: 10px 30px 0px white;
  font-family: ARGENTPIXEL-ITAL;
    cursor: pointer;
}

